@use "templates";

#right-sidebar-container {
    @include templates.flex(both, row);

    position: absolute;
    top: 0;
    right: calc(-1 * templates.$sidebar-width);
    width: fit-content;
    height: 100vh;
    z-index: 2;
    transition: top 0.6s cubic-bezier(0.7, 0, 0.6, 1), right 0.3s cubic-bezier(0.7, 0, 0.6, 1);

    &.sidebar-opened {
        right: 0;
    }

    &.settings-opened {
        top: -100vh;
    }

    @media (max-width: templates.$mobile-breakpoint) {
        right: -100vw;
    }

    .right-sidebar-toggle {
        transform: translate(0, -50%);
        border-radius: 6em 0 0 6em;
        width: 3em;
        height: 6em;
        border: none;
        cursor: pointer;
        background-color: var(--sidebar-toggle-background-color);
        filter: drop-shadow(0 0 10px var(--drop-shadow-color));

        @media (max-width: templates.$mobile-breakpoint) {
            filter: drop-shadow(0 0 0 #000);
        }

        &:hover {
            background-color: var(--sidebar-toggle-hover-background-color);
        }

        img {
            filter: brightness(var(--image-on-toggle-brightness));
            width: 32px;
        }
    }

    .right-sidebar {
        @include templates.flex(none, column);

        width: templates.$sidebar-width;
        background-color: var(--sidebar-background-color);
        height: 100%;
        border-radius: 1em 0 0 1em;
        padding: 1em;
        filter: drop-shadow(0 0 10px var(--drop-shadow-color));

        @media (max-width: templates.$mobile-breakpoint) {
            filter: drop-shadow(0 0 0 #000);
        }

        .title {
            font-weight: bold;
            font-size: 2rem;
            flex-shrink: 0;
        }

        .sidebar-footer {
            flex-shrink: 0;
            width: 100%;
            background-color: var(--sidebar-background-color);

            #select-schedule {
                margin: 0 0 0.5em 0;
                width: 100%;


                @media (max-width: templates.$mobile-breakpoint) {
                    margin-bottom: 1em;
                }
            }
        }

        .right-sidebar-exit {
            display: none;
        }
    }
}

/* Schedule */
.sidebar-schedule {
    flex: 1;
    overflow: auto;

    .schedule-list {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 0.5em;

        .schedule-item {
            padding: 1em 0;

            .schedule-item-time {
                font-style: italic;
                opacity: 0.7;
                text-align: right;
                padding-right: 0.25em;
                font-family: inherit;
            }

            .schedule-item-name {
                font-weight: bold;
                font-size: 1.2em;
                padding-left: 0.25em;
                font-family: inherit;
            }
        }
    }
}

@media (max-width: templates.$mobile-breakpoint) {
    #right-sidebar-container {

        .right-sidebar {
            width: 100vw;
            border-radius: 0;
        }

        .right-sidebar-toggle {
            position: absolute;
            right: 100vw;
            bottom: 7em;
        }

        .right-sidebar .right-sidebar-exit {
            display: block;

            @include templates.flex(both, column);
            align-items: end;

            transition: transform 0.3s cubic-bezier(0.7, 0, 0.6, 1);
        }

        /* Schedule item font sizes */
        .sidebar-schedule .schedule-item-time { font-size: 1.4em; }
        .sidebar-schedule .schedule-item-name { font-size: 2em; }
    }
}