:root {
    --background-color: #f9f9f9;
    --background-image: none;
    --color: #202124;

    --sidebar-background-color: #eaedf3;
    --radial-background-color: #e5e6eb;

    --image-on-bg-brightness: 0;
}

[data-theme="default-light"] {
    --background-color: #f9f9f9;
    --background-image: none;
    --color: #202124;

    --sidebar-background-color: #eaedf3;
    --radial-background-color: #e5e6eb;

    --image-on-bg-brightness: 0;
}

[data-theme="default-dark"] {
    --background-color: #1e1e1e;
    --background-image: none;
    --color: #f5f5f5;

    --sidebar-background-color: #292d32;
    --radial-background-color: #4e555f;

    --image-on-bg-brightness: 1;
}

[data-theme="space"] {
    --background-color: #000000;
    --background-image: none;
    --color: #ffffff;

    --sidebar-background-color: #19191b;
    --radial-background-color: #24242e;

    --image-on-bg-brightness: 1;
}

[data-theme="blue-light"] {
    --background-color: #b7dfff;
    --background-image: none;
    --color: #1a1d26;

    --sidebar-background-color: #a3d6ff;
    --radial-background-color: #85bdea;

    --image-on-bg-brightness: 0;
}

[data-theme="blue-dark"] {
    --background-color: #1a1d26;
    --background-image: none;
    --color: #e0e7ff;

    --sidebar-background-color: #2d364b;
    --radial-background-color: #34415f;

    --image-on-bg-brightness: 1;
}

[data-theme="green-dark"] {
    --background-color: #31432c;
    --background-image: none;
    --color: #efe7d7;

    --sidebar-background-color: #507a4c;
    --radial-background-color: #3a5f46;

    --image-on-bg-brightness: 1;
}

[data-theme="arctic"] {
    --background-color: #eceff4;
    --background-image: none;
    --color: #5e81ac;

    --sidebar-background-color: #e5e9f0;
    --radial-background-color: #d8dee9;

    --image-on-bg-brightness: 0;
}

[data-theme="coffee"] {
    --background-color: #47372a;
    --background-image: none;
    --color: #f5e1a4;

    --sidebar-background-color: #4a2c2a;
    --radial-background-color: #8a683d;

    --image-on-bg-brightness: 1;
}

[data-theme="space-real"] {
    --background-color: #000000;
    --background-image: url("https://images.pond5.com/black-empty-space-stars-dark-footage-073036484_iconl.jpeg");
    --color: #ffffff;

    --sidebar-background-color: #2e0a2e;
    --radial-background-color: #232353;

    --image-on-bg-brightness: 1;
}

[data-theme="custom"] {
    --background-color: #f9f9f9;
    --background-image: none;
    --color: #202124;

    --sidebar-background-color: #f2f4f8;
    --sidebar-background-color: #eaedf3;

    --image-on-bg-brightness: 0;
}