@use "templates";
@use "themes";
@use "fonts";
@use "buttons";
@use "app-container";
@use "notification-container";
@use "settings-container";
@use "sidebar-container";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background-color: var(--background-color);
    background-image: var(--background-image);
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
    scrollbar-color: var(--color) #0000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Inter", sans-serif;
    color: var(--color);
}

select, input {
    width: 16vw;
    border: none;
    padding: 0.75em;
    margin: 0.2em 0 2em 0;
    background-color: var(--color);
    color: var(--background-color);
}

option {
    background-color: var(--color);
    color: var(--background-color);
}

/* Mobile */
@media (max-width: templates.$mobile-breakpoint) {
    /* Input/select width for mobile */
    select, input {
        width: 32vw;
    }
}