:root {
  --background-color: #f9f9f9;
  --background-image: none;
  --color: #202124;
  --sidebar-toggle-background-color: #000000;
  --sidebar-toggle-hover-background-color: #272727;
  --sidebar-background-color: #f2f4f8;
  --radial-background-color: #e5e6eb;
  --image-on-toggle-brightness: 1;
  --image-on-bg-brightness: 0;
  --drop-shadow-color: #0003;
}

[data-theme=default-light] {
  --background-color: #f9f9f9;
  --background-image: none;
  --color: #202124;
  --sidebar-toggle-background-color: #000000;
  --sidebar-toggle-hover-background-color: #272727;
  --sidebar-background-color: #f2f4f8;
  --radial-background-color: #e5e6eb;
  --image-on-toggle-brightness: 1;
  --image-on-bg-brightness: 0;
  --drop-shadow-color: #0003;
}

[data-theme=default-dark] {
  --background-color: #1e1e1e;
  --background-image: none;
  --color: #f5f5f5;
  --sidebar-toggle-background-color: #ffffff;
  --sidebar-toggle-hover-background-color: #e0e0e0;
  --sidebar-background-color: #292d32;
  --radial-background-color: #4e555f;
  --image-on-toggle-brightness: 0;
  --image-on-bg-brightness: 1;
  --drop-shadow-color: #0009;
}

[data-theme=blue-light] {
  --background-color: #b7dfff;
  --background-image: none;
  --color: #1a1d26;
  --sidebar-toggle-background-color: #ffffff;
  --sidebar-toggle-hover-background-color: #e8edff;
  --sidebar-background-color: #a3d6ff;
  --radial-background-color: #85bdea;
  --image-on-toggle-brightness: 0;
  --image-on-bg-brightness: 0;
  --drop-shadow-color: #a3d6ff;
}

[data-theme=blue-dark] {
  --background-color: #1a1d26;
  --background-image: none;
  --color: #e0e7ff;
  --sidebar-toggle-background-color: #ffffff;
  --sidebar-toggle-hover-background-color: #d0daff;
  --sidebar-background-color: #2d364b;
  --radial-background-color: #34415f;
  --image-on-toggle-brightness: 0;
  --image-on-bg-brightness: 1;
  --drop-shadow-color: #223;
}

[data-theme=green-dark] {
  --background-color: #31432c;
  --background-image: none;
  --color: #efe7d7;
  --sidebar-toggle-background-color: #4c604b;
  --sidebar-toggle-hover-background-color: #55704f;
  --sidebar-background-color: #507a4c;
  --radial-background-color: #3a5f46;
  --image-on-toggle-brightness: 1;
  --image-on-bg-brightness: 1;
  --drop-shadow-color: #1219;
}

[data-theme=arctic] {
  --background-color: #eceff4;
  --background-image: none;
  --color: #5e81ac;
  --sidebar-toggle-background-color: #4b5260;
  --sidebar-toggle-hover-background-color: #2f343f;
  --sidebar-background-color: #e5e9f0;
  --radial-background-color: #d8dee9;
  --image-on-toggle-brightness: 1;
  --image-on-bg-brightness: 0;
  --drop-shadow-color: #0000;
}

[data-theme=coffee] {
  --background-color: #47372a;
  --background-image: none;
  --color: #f5e1a4;
  --sidebar-toggle-background-color: #d1a56d;
  --sidebar-toggle-hover-background-color: #a67c39;
  --sidebar-background-color: #4a2c2a;
  --radial-background-color: #8a683d;
  --image-on-toggle-brightness: 1;
  --image-on-bg-brightness: 1;
  --drop-shadow-color: #3229;
}

[data-theme=space] {
  --background-color: #000000;
  --background-image: url("https://images.pond5.com/black-empty-space-stars-dark-footage-073036484_iconl.jpeg");
  --color: #ffffff;
  --sidebar-toggle-background-color: #ffffff;
  --sidebar-toggle-hover-background-color: #d6d6d6;
  --sidebar-background-color: #19191b;
  --radial-background-color: #232353;
  --image-on-toggle-brightness: 0;
  --image-on-bg-brightness: 1;
  --drop-shadow-color: #0000;
}

/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/lib/fonts/roboto-v48-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("/lib/fonts/roboto-v48-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/lib/fonts/inter-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/lib/fonts/inter-v19-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* wingdings */
@font-face {
  font-family: "Wingdings";
  font-style: normal;
  font-weight: normal;
  src: local("Wingdings"), url("/lib/fonts/wingding.woff") format("woff");
}
/* noto-sans-runic-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans Runic";
  font-style: normal;
  font-weight: 400;
  src: url("/lib/fonts/noto-sans-runic-v17-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: end;
  position: absolute;
  z-index: 3;
  right: 1em;
  bottom: 1em;
  background: none;
  width: 65px;
  border: none;
  transition: right 0.3s cubic-bezier(0.7, 0, 0.6, 1), bottom 0.6s cubic-bezier(0.7, 0, 0.6, 1), opacity 0.3s cubic-bezier(0.7, 0, 0.6, 1);
}
.button:hover {
  cursor: pointer;
}
.button:hover .button-tooltip {
  opacity: 1;
  margin-bottom: 0.2em;
}
.button:hover img {
  transform: rotate(180deg);
  opacity: 1;
}
.button#settings.sidebar-opened {
  right: calc(1em + min(30vw, 350px));
}
@media (max-width: 750px) {
  .button#settings.sidebar-opened {
    right: 4em;
  }
}
.button#settings.settings-opened {
  bottom: calc(100vh + 1em);
}
.button#feedback {
  right: 4em;
}
.button#feedback.sidebar-opened {
  right: calc(4em + min(30vw, 350px));
}
@media (max-width: 750px) {
  .button#feedback.sidebar-opened {
    right: 7em;
  }
}
.button#feedback.settings-opened {
  bottom: calc(100vh + 1em);
}
.button#feedback:hover img {
  transform: none;
}
.button#clear-settings {
  left: 1em;
  align-items: start;
}
.button#clear-settings:hover img {
  transform: none;
}
.button .button-tooltip {
  background-color: var(--color);
  color: var(--background-color);
  padding: 0.5em;
  border-radius: 0.5em;
  opacity: 0;
  transition: margin 0.3s cubic-bezier(0.7, 0, 0.6, 1), opacity 0.3s cubic-bezier(0.7, 0, 0.6, 1);
}
.button img {
  width: 32px;
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.6, 1);
  filter: brightness(var(--image-on-bg-brightness));
  opacity: 0.7;
}

#app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  transition: top 0.6s cubic-bezier(0.7, 0, 0.6, 1), width 0.3s cubic-bezier(0.7, 0, 0.6, 1);
}
#app-container.sidebar-opened {
  width: calc(100% - min(30vw, 350px));
}
@media (max-width: 750px) {
  #app-container.sidebar-opened {
    width: 100%;
  }
}
#app-container.sidebar-opened #timer #timer-time {
  font-size: calc(35vmin - 6em);
}
#app-container.sidebar-opened #timer #timer-period, #app-container.sidebar-opened #timer #timer-schedule {
  font-size: calc(13vmin - 1em);
}
#app-container.sidebar-opened #timer #timer-progress {
  height: 70vmin;
}
#app-container.settings-opened {
  top: -100vh;
}
#app-container #timer {
  position: relative;
  background: none;
}
#app-container #timer #timer-time {
  display: block;
  font-size: calc(35vmin - 3em);
  width: 100%;
  text-align: center;
  transition: font-size 0.3s cubic-bezier(0.7, 0, 0.6, 1);
}
@media (max-width: 750px) {
  #app-container #timer #timer-time {
    font-size: calc(35vmin - 1.5em);
  }
}
#app-container #timer #timer-period, #app-container #timer #timer-schedule {
  font-size: 13vmin;
  font-weight: normal;
  text-align: left;
  transition: font-size 0.3s cubic-bezier(0.7, 0, 0.6, 1);
}
#app-container #timer #timer-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  height: 90vmin;
  filter: drop-shadow(0 0 10px var(--drop-shadow-color));
  transition: height 0.3s cubic-bezier(0.7, 0, 0.6, 1);
}
@media (max-width: 750px) {
  #app-container #timer #timer-progress {
    filter: drop-shadow(0 0 0 #000);
  }
}
#app-container #app-date {
  font-size: 2rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

@media (max-width: 750px) {
  #timer-time {
    font-size: calc(35vmin - 1.5em);
  }
  #app-container.sidebar-opened {
    width: 100%;
  }
}
#popup-container {
  position: absolute;
  z-index: 3;
  width: 25em;
  position: absolute;
  top: 0;
  transition: top 0.6s cubic-bezier(0.7, 0, 0.6, 1);
}
#popup-container.empty {
  display: none;
}
@media (max-width: 750px) {
  #popup-container {
    width: 100vw;
  }
}
#popup-container.settings-opened {
  top: -100vh;
}
#popup-container .notification {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: calc(100% - 2em);
  margin: 1em;
  padding: 1em;
  background-color: var(--sidebar-background-color);
  border-radius: 1em;
}
#popup-container .notification .notification-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#popup-container .notification .notification-close {
  padding: 1em;
  border: none;
}
#popup-container .notification .notification-close:hover {
  cursor: pointer;
}
#popup-container #quick-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, 5em);
  gap: 1em;
}
#popup-container #quick-links .quick-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  padding: 1em;
  width: 5em;
  height: 5em;
  background-color: var(--sidebar-background-color);
  border: none;
  border-radius: 1em;
}
#popup-container #quick-links .quick-link:hover {
  background-color: var(--radial-background-color);
  cursor: pointer;
}
#popup-container #quick-links .quick-link img {
  width: 32px;
}
#popup-container #modals {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5333333333);
}
#popup-container #modals .modal {
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: 75vw;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  padding: 1em;
  border-radius: 0.5em;
  text-align: left;
}
#popup-container #modals .modal .title {
  font-size: max(2vw, 2em);
}
#popup-container #modals .modal .subtitle {
  font-size: max(1vw, 1em);
}
#popup-container #modals .modal textarea {
  width: 100%;
  height: 40cap;
  background-color: var(--radial-background-color);
  color: var(--color);
  border: none;
  resize: none;
  margin: 1em 0;
}
#popup-container #modals .modal .submit, #popup-container #modals .modal .exit {
  border: none;
  padding: 1em;
  border-radius: 0.5em;
  cursor: pointer;
}
#popup-container #modals .modal .submit.exit, #popup-container #modals .modal .exit.exit {
  background-color: #ff4646;
  color: #ffffff;
}
#popup-container #modals .modal .submit.exit:hover, #popup-container #modals .modal .exit.exit:hover {
  background-color: #da3a3a;
}
#popup-container #modals .modal .submit.exit:active, #popup-container #modals .modal .exit.exit:active {
  background-color: #bd3232;
}

#settings-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 100vh;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transition: top 0.6s cubic-bezier(0.7, 0, 0.6, 1);
}
#settings-container .title {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  padding: 1em;
  background-color: var(--sidebar-background-color);
}

/* Settings */
.settings-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  padding-top: 2em;
  overflow-y: auto;
  overflow-x: hidden;
}

.settings-column {
  display: flex;
  flex-direction: column;
  margin: 0 2em;
  border: none;
}

/* Settings Item */
.settings-item {
  display: flex;
  flex-direction: column;
}

.settings-item label:not(.label-input-periods) {
  margin-bottom: 0.5em;
  font-weight: bold;
  font-size: 1.2em;
}

.settings-item label.label-input-periods {
  font-weight: normal;
  font-size: 0.8em;
}

#settings-container.settings-opened {
  top: 0;
}

@media (max-width: 750px) {
  .settings-column {
    margin: 0 1em;
  }
}
#right-sidebar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: calc(-1 * min(30vw, 350px));
  width: fit-content;
  height: 100vh;
  z-index: 2;
  transition: top 0.6s cubic-bezier(0.7, 0, 0.6, 1), right 0.3s cubic-bezier(0.7, 0, 0.6, 1);
}
#right-sidebar-container.sidebar-opened {
  right: 0;
}
#right-sidebar-container.settings-opened {
  top: -100vh;
}
@media (max-width: 750px) {
  #right-sidebar-container {
    right: -100vw;
  }
}
#right-sidebar-container .right-sidebar-toggle {
  transform: translate(0, -50%);
  border-radius: 6em 0 0 6em;
  width: 3em;
  height: 6em;
  border: none;
  cursor: pointer;
  background-color: var(--sidebar-toggle-background-color);
  filter: drop-shadow(0 0 10px var(--drop-shadow-color));
}
@media (max-width: 750px) {
  #right-sidebar-container .right-sidebar-toggle {
    filter: drop-shadow(0 0 0 #000);
  }
}
#right-sidebar-container .right-sidebar-toggle:hover {
  background-color: var(--sidebar-toggle-hover-background-color);
}
#right-sidebar-container .right-sidebar-toggle img {
  filter: brightness(var(--image-on-toggle-brightness));
  width: 32px;
}
#right-sidebar-container .right-sidebar {
  display: flex;
  flex-direction: column;
  width: min(30vw, 350px);
  background-color: var(--sidebar-background-color);
  height: 100%;
  border-radius: 1em 0 0 1em;
  padding: 1em;
  filter: drop-shadow(0 0 10px var(--drop-shadow-color));
}
@media (max-width: 750px) {
  #right-sidebar-container .right-sidebar {
    filter: drop-shadow(0 0 0 #000);
  }
}
#right-sidebar-container .right-sidebar .title {
  font-weight: bold;
  font-size: 2rem;
  flex-shrink: 0;
}
#right-sidebar-container .right-sidebar .sidebar-footer {
  flex-shrink: 0;
  width: 100%;
  background-color: var(--sidebar-background-color);
}
#right-sidebar-container .right-sidebar .sidebar-footer .select-schedule {
  margin: 0 0 0.5em 0;
  width: 100%;
}
@media (max-width: 750px) {
  #right-sidebar-container .right-sidebar .sidebar-footer .select-schedule {
    margin-bottom: 1em;
  }
}
#right-sidebar-container .right-sidebar .right-sidebar-exit {
  display: none;
}

/* Schedule */
.sidebar-schedule {
  flex: 1;
  overflow: auto;
}
.sidebar-schedule .schedule-list {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.5em;
}
.sidebar-schedule .schedule-list .schedule-item {
  padding: 1em 0;
}
.sidebar-schedule .schedule-list .schedule-item .schedule-item-time {
  font-style: italic;
  opacity: 0.7;
  text-align: right;
  padding-right: 0.25em;
  font-family: inherit;
}
.sidebar-schedule .schedule-list .schedule-item .schedule-item-name {
  font-weight: bold;
  font-size: 1.2em;
  padding-left: 0.25em;
  font-family: inherit;
}

@media (max-width: 750px) {
  #right-sidebar-container {
    /* Schedule item font sizes */
  }
  #right-sidebar-container .right-sidebar {
    width: 100vw;
    border-radius: 0;
  }
  #right-sidebar-container .right-sidebar-toggle {
    position: absolute;
    right: 100vw;
    bottom: 7em;
  }
  #right-sidebar-container .right-sidebar .right-sidebar-exit {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: end;
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.6, 1);
  }
  #right-sidebar-container .sidebar-schedule .schedule-item-time {
    font-size: 1.4em;
  }
  #right-sidebar-container .sidebar-schedule .schedule-item-name {
    font-size: 2em;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: center;
  scrollbar-color: var(--color) rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Inter", sans-serif;
  color: var(--color);
}

select, input {
  width: 16vw;
  border: none;
  padding: 0.75em;
  margin: 0.2em 0 2em 0;
  background-color: var(--color);
  color: var(--background-color);
}
@media (max-width: 750px) {
  select, input {
    width: 32vw;
  }
}

option {
  background-color: var(--color);
  color: var(--background-color);
}

/*# sourceMappingURL=main.css.map */
