// Basic styling //
* {
    box-sizing: border-box;
}

// Default Theme //
:root {
    --background-color: #fff;
    --background-image: none;
    --color: #fff;

    --sidebar-background-color: #fff;
    --radial-background-color: #fff;

    --image-on-bg-brightness: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    user-select: none;
}

#app {
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(var(--background-color));
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(var(--color));
}

// When resizing window //
.disable-transitions * {
    transition: none !important;
}

// Shared classes/styles //
.button {
    --glass-color: 217, 217, 217;
    display: block;
    padding: 0.75em;
    width: 100%;
    border: none;
    cursor: pointer;

    &.glass:hover {
        filter: brightness(0.95);
    }

    &.glass:active {
        filter: brightness(0.9);
    }
}

.button__danger {
    --glass-color: 255, 94, 104 !important;
}

.button__success {
    --glass-color: 125, 213, 78 !important;
}

.button__contrast {
    --glass-color: var(--color) !important;

    background-color: rgb(var(--color));
    color: white;
}

.glass {
    --glass-color: 255, 255, 255;
    background-color: rgba(var(--glass-color), 0.4);
    border: 1px solid rgb(var(--glass-color));
    backdrop-filter: blur(10px);
    border-radius: 2rem;
}

.glass__child {
    background-color: rgba(var(--glass-color), 0.6);
    border: none;
    border-radius: 1.5rem;
}

select.glass {
    option {
        background-color: rgb(var(--color));
        color: rgb(var(--background-color));
    }
}

.overlay--dialog {
    --glass-color: var(--sidebar-background-color) !important;
    width: 1200px;
    height: 600px;
    max-width: calc(100% - 5em);
    max-height: calc(100% - 5em);
    border: none;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
    pointer-events: all;
    padding: 0;

    @media (max-width: 650px) {
        & {
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
            border-radius: 0;
        }
    }
}

.categories--option {
    --glass-color: var(--radial-background-color);
    padding: 0.5em;
    margin: 0.25em 0;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    background-color: rgba(var(--glass-color), 0);

    &:hover {
        background-color: rgba(var(--glass-color), 0.3);
    }

    &.selected {
        background-color: rgba(var(--glass-color), 0.7);
        cursor: default;
    }

    &.category__tabbed {
        margin-left: 2em;
    }
}

.settings--category-content {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(min(300px, 100%), 1fr)
    );
    grid-auto-flow: dense;
    gap: 0.5rem;
    flex: 1;
    padding: 3rem;
    overflow-y: auto;

    @media (max-width: 650px) {
        & {
            margin-left: 5rem;
        }
    }
}

// Notice Board Item
.notice-board-display--item {
    --glass-color: var(--sidebar-background-color);
    grid-column: span 2;
    grid-row: span 2;
    padding: 1rem;
    border-radius: 1rem;
    pointer-events: all;
}

// Settings //
.item--title {
    font-weight: bold;
    margin-bottom: 0.5em;
    font-size: 2rem;
}

.item--subtitle {
    font-weight: bold;
    margin-top: 0.5em;
    font-size: 1.5rem;
}

.pinned--button {
    --glass-color: var(--sidebar-background-color);
    position: relative;
    padding: 1rem;
    border-radius: 1rem;

    &:hover {
        filter: brightness(0.9);
        cursor: pointer;

        img {
            opacity: 0;
        }

        .button--tooltip {
            visibility: visible;
            opacity: 1;
        }
    }

    img {
        width: 32px;
        transition: opacity 0.1s linear;
    }

    .button--tooltip {
        visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 50%;
        border-radius: 1rem;
        color: rgb(var(--color));
        font-weight: bold;
        font-size: 1rem;
        opacity: 0;
        margin: 0;

        transition: opacity 0.1s linear;
    }
}

.close {
    position: absolute;
    right: 1em;
    top: 1em;
    background: none;
    border: none;
    width: 3em;
    height: 3em;
    aspect-ratio: 1 / 1;

    img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: contain;
        filter: brightness(var(--image-on-bg-brightness));
        transition: width 0.2s ease-in-out;

        &:hover {
            width: 90%;
            cursor: pointer;
        }
    }
}

// Fonts //
/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("/src/assets/fonts/roboto-v48-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("/src/assets/fonts/roboto-v48-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("/src/assets/fonts/inter-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("/src/assets/fonts/inter-v19-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* wingdings */
@font-face {
    font-family: "Wingdings";
    font-style: normal;
    font-weight: normal;
    src: local("Wingdings"), url("/src/assets/fonts/wingding.woff") format("woff");
}